/bin/
*.class

# IntelliJ project files
.idea
*.iml
out
gen

# Package Files #
*.jar
*.war
*.ear

# ignore Maven generated target folders
target

# ignore eclipse files
#.project
#.classpath
.settings
.metadata